{{problem-svg grade=grade primaryColor=primaryColor secondaryColor=secondaryColor}}

<div class="grades">
  {{#each grade in grades}}
    <label class="grade">
      {{radio-button selection=controller.grade value=grade}}
      {{grade.name}}
    </label>
  {{/each}}
</div>

<div class="tapes">
  <div class="tape-colors">
    {{#each color in colors}}
      <label class="color btn">
        {{radio-button selection=controller.primaryColor value=color}}
        {{color-square hex=color.hex name=color.name}}
        {{color.name}}
      </label>
    {{/each}}
  </div>

  <div class="tape-colors">
    {{#each color in colors}}
      <label class="color btn">
        {{radio-button selection=controller.secondaryColor value=color}}
        {{color-square hex=color.hex name=color.name}}
        {{color.name}}
      </label>
    {{/each}}
    <label class="color btn">
      {{radio-button selection=controller.secondaryColor value=null}}
      none
    </label>
  </div>

  <div>
    {{#each tape in tapePatterns}}
      <label class="tape">
        {{radio-button selection=controller.tapePattern value=tape}}
        {{tape}}
      </label>
    {{/each}}
  </div>

</div>

<button class="btn" {{action 'save'}}>save</button>
